@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Overpass:400,400i,600,800|Raleway:400,400i,700,600");

.Home {
  margin: 0;
  font-family: Overpass, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway, Helvetica, Arial, sans-serif !important;
}

h6 {
  font-weight: 600 !important;
  font-size: 16px !important;
}

h2 {
  color: #154b9c;
  font-size: 3rem;
  margin-top: 0;
  font-weight: 600;
  padding-top: 20px;
}

#contact {
  padding-top: 60px;
}

h3 {
  font-size: 1.5rem;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  text-align: center;
}

footer .fab {
  color: #13bcd4;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
